.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1,h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn {
  background: #b2f0c6;
  background-image: -webkit-linear-gradient(top, #b2f0c6, #0995a8);
  background-image: -moz-linear-gradient(top, #b2f0c6, #0995a8);
  background-image: -ms-linear-gradient(top, #b2f0c6, #0995a8);
  background-image: -o-linear-gradient(top, #b2f0c6, #0995a8);
  background-image: linear-gradient(to bottom, #b2f0c6, #0995a8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #f0f0f0;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
  margin-left: 42%;
}

.btn:hover {
  background: #5b41f0;
  background-image: -webkit-linear-gradient(top, #5b41f0, #34d9cb);
  background-image: -moz-linear-gradient(top, #5b41f0, #34d9cb);
  background-image: -ms-linear-gradient(top, #5b41f0, #34d9cb);
  background-image: -o-linear-gradient(top, #5b41f0, #34d9cb);
  background-image: linear-gradient(to bottom, #5b41f0, #34d9cb);
  text-decoration: none;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
