body{
    background-color: #EAF6F6;
    margin-left: 40px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 7%;
}

h1{
  color: #65C18C;
}
h3{
  color: #CC9544;
}
